<!DOCTYPE html>
{% load static %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="all type of novelty store.">
        <meta name="keywords" content="store, Novelty, General, Cosmetic, Women's accessories, marriage items, bridal, undergarments, bags, necklace, bracelet, benglas, anklet, fashion, stationary, sprays"
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{% static 'store/img/logo.png' %}" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--=============== SWIPER CSS ===============--> 
        <link rel="stylesheet" href="{% static 'store/css/swiper-bundle.min.css' %}">

        <!--=============== CSS ===============--> 
        <link rel="stylesheet" href="{% static 'store/css/styles.css' %}">

        <title>Chamunda Novelty</title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    <img src="{% static 'store/img/logo.png'%}" alt="" class="nav__logo-img">
                    Chamunda Novelty
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">Home</a>
                        </li>

                        <li class="nav__item">
                            <a href="#about" class="nav__link">About</a>
                        </li>

                        <li class="nav__item">
                            <a href="#trick" class="nav__link">Product</a>
                        </li>

                        <li class="nav__item">
                            <a href="#new" class="nav__link">New</a>
                        </li>
                            <a href="#" class="button button--ghost">9725004941</a>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>

                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>

            </nav>
        </header>

        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home container" id="home">
                <div class="swiper home-swiper">
                    <div class="swiper-wrapper">
                        <!-- HOME SLIDER 1 -->
                        <section class="swiper-slide">
                            <div class="home__content grid">
                                <div class="home__group">
                                    <img src="{% static 'store/img/home_1.png'%}" alt="" class="home__img">
                                    <div class="home__indicator"></div>
    
                                    <div class="home__details-img">
                                        <h4 class="home__details-title">Happy Customers</h4>
                                        <span class="home__details-subtitle">No words can describe them</span>
                                    </div>
                                </div>
    
                                <div class="home__data">
                                    <h3 class="home__subtitle">#1 Top Novelty Store</h3>
                                    <h1 class="home__title">Knowing <br>Customers <br>Choice!</h1>
                                    <p class="home__description">Hi, our store name is "chamunda novelty". I am currently trying to reach 
                                        more people, building my own local bussiness in Bechraji.
                                    </p>

                                    <div class="home__buttons">
                                        <a href="#" class="button">Grab Best Offer</a>
                                        <a href="#" class="button--link button--flex">Visit Shop <i class='bx bx-right-arrow-alt button__icon'></i></a>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- HOME SLIDER 2 -->
                        <section class="swiper-slide">
                            <div class="home__content grid">
                                <div class="home__group">
                                    <img src="{% static 'store/img/home_2.png'%}" alt="" class="home__img">
                                    <div class="home__indicator"></div>
    
                                    <div class="home__details-img">
                                        <h4 class="home__details-title">Various Product</h4>
                                        <span class="home__details-subtitle">Everything Available</span>
                                    </div>
                                </div>
    
                                <div class="home__data">
                                    <h3 class="home__subtitle">#2 Top Best Product</h3>
                                    <h1 class="home__title">OUR  GOODS<br> ARE<br> UNBEATABLE</h1>
                                    <p class="home__description">we always try to understand customers' requirements, so we sell products that are stupendous, awesome, and unique
                                    </p>

                                    <div class="home__buttons">
                                        <a href="#" class="button">Grab Best Offer</a>
                                        <a href="#" class="button--link button--flex">Visit Shop<i class='bx bx-right-arrow-alt button__icon'></i></a>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- HOME SLIDER 3 -->
                        <section class="swiper-slide">
                            <div class="home__content grid">
                                <div class="home__group">
                                    <img src="{% static 'store/img/home_3.png'%}" alt="" class="home__img">
                                    <div class="home__indicator"></div>
    
                                    <div class="home__details-img">
                                        <h4 class="home__details-title">Resonable Price</h4>
                                        <span class="home__details-subtitle">Satisfied Customers</span>
                                    </div>
                                </div>
    
                                <div class="home__data">
                                    <h3 class="home__subtitle">#3 Top Cheap Product</h3>
                                    <h1 class="home__title">THE <br> PRICE IS <br> FAIR</h1>
                                    <p class="home__description">In search of cheap products, we always help you to find the best products according to your taste with your price range. 
                                    </p>

                                    <div class="home__buttons">
                                        <a href="#" class="button">Grab Best Offer</a>
                                        <a href="#" class="button--link button--flex">Track Record <i class='bx bx-right-arrow-alt button__icon'></i></a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </section>
            
            <!--==================== CATEGORY ====================-->
            <section class="section category">
                <h2 class="section__title">Favorite Novelty <br> Category</h2>

                <div class="category__container container grid">
                    <div class="category__data">
                        <img src="{% static 'store/img/bengal.png' %}" alt="" class="category__img">
                        <h3 class="category__title">Bengals</h3>
                        <p class="category__description">Pick the most stylish Bengals out there.</p>
                    </div>

                    <div class="category__data">
                        <img src="{% static 'store/img/necklace.png' %}" alt="" class="category__img">
                        <h3 class="category__title">Necklace</h3>
                        <p class="category__description">You look at the designer necklace there is.</p>
                    </div>

                    <div class="category__data">
                        <img src="{% static 'store/img/cosmetic_cat_1.png' %}" alt="" class="category__img">
                        <h3 class="category__title">Cosmetic Product</h3>
                        <p class="category__description">Choose the cosmetic products which enhance your personality.</p>
                    </div>
                </div>
            </section>

            <!--==================== ABOUT ====================-->
            <section class="section about" id="about">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">About Chamunda <br> Novelty</h2>
                        <p class="about__description">we have established this business since 1998. we sell a wide range of cosmetic products, marriage goods, undergarments, and women's accessories.
                            we have more than 1,00,000 satisfied customers.
                        </p>
                        <a href="#" class="button">Know more</a>
                    </div>

                    <img src="{% static 'store/img/about.png'%}" alt="" class="about__img">
                </div>
            </section>

            <!--==================== TRICK OR TREAT ====================-->
            <section class="section trick" id="trick">
                <h2 class="section__title">Sale On Demand</h2>

                <div class="trick__container container grid">
                    <div class="trick__content">
                        <img src="{% static 'store/img/marrige_item.png' %}" alt="" class="trick__img">
                        <h3 class="trick__title">MARRIGE ITEM</h3>
                        <span class="trick__subtitle">Bridal</span>
                        <span class="trick__price"></span>
                        <button class="button trick__button">
                            <i class='bx bx-cart-alt trick__icon'></i>
                        </button>
                    </div>

                    <div class="trick__content">
                        <img src="{% static 'store/img/cosmetic.png'%}" alt="" class="trick__img">
                        <h3 class="trick__title">MAKE UP</h3>
                        <span class="trick__subtitle">Fashion</span>
                        <span class="trick__price"></span>
                        <button class="button trick__button">
                            <i class='bx bx-cart-alt trick__icon'></i>
                        </button>
                    </div>

                    <div class="trick__content">
                        <img src="{% static 'store/img/under.png' %}" alt="" class="trick__img">
                        <h3 class="trick__title">UNDERGARMENTS</h3>
                        <span class="trick__subtitle">Fashion</span>
                        <span class="trick__price"></span>
                        <button class="button trick__button">
                            <i class='bx bx-cart-alt trick__icon'></i>
                        </button>
                    </div>

                    <div class="trick__content">
                        <img src="{% static 'store/img/spray1.png' %}" alt="" class="trick__img">
                        <h3 class="trick__title">SPRAYS</h3>
                        <span class="trick__subtitle">Fragrance</span>
                        <span class="trick__price"></span>
                        <button class="button trick__button">
                            <i class='bx bx-cart-alt trick__icon'></i>
                        </button>
                    </div>

                    <div class="trick__content">
                        <img src="{% static 'store/img/bracelet.png' %}" alt="" class="trick__img">
                        <h3 class="trick__title">BRACELET</h3>
                        <span class="trick__subtitle">accessories</span>
                        <span class="trick__price"></span>
                        <button class="button trick__button">
                            <i class='bx bx-cart-alt trick__icon'></i>
                        </button>
                    </div>

                    <div class="trick__content">
                        <img src="{% static 'store/img/anklet.png' %}" alt="" class="trick__img">
                        <h3 class="trick__title">ANKLET</h3>
                        <span class="trick__subtitle">accessories</span>
                        <span class="trick__price"></span>
                        <button class="button trick__button">
                            <i class='bx bx-cart-alt trick__icon'></i>
                        </button>
                    </div>
                </div>
            </section>
            
            <!--==================== DISCOUNT ====================-->
            <section class="section discount">
                <div class="discount__container container grid">
                    <div class="discount__data">
                        <h2 class="discount__title">Attractive Discount <br> On New Products</h2>
                        <a href="#" class="button">Go to new</a>
                    </div>

                    <img src="{% static 'store/img/discount.png'%}" alt="" class="discount__img">
                </div>
            </section>

            <!--==================== NEW ARRIVALS ====================-->
            <section class="section new" id="new">
                <h2 class="section__title">New Arrivals</h2>

                <div class="new__container container">
                    <div class="swiper new-swiper">
                        <div class="swiper-wrapper">
                            <div class="new__content swiper-slide">
                                <div class="new__tag">New</div>
                                <img src="{% static 'store/img/ear_thumbnail.png' %}" alt="" class="new__img">
                                <h3 class="new__title">Earrings</h3>
                                <span class="new__subtitle">accessories</span>
                                
                                <div class="new__prices">
                                    <span class="new__price"></span>
                                    <span class="new__discount"></span>
                                </div>

                                <button class="button new__button">
                                    <i class='bx bx-cart-alt new__icon'></i>
                                </button>
                            </div>
        
                            <div class="new__content swiper-slide">
                                <div class="new__tag">New</div>
                                <img src="{% static 'store/img/nail.png' %}" alt="" class="new__img">
                                <h3 class="new__title">Nail Polish</h3>
                                <span class="new__subtitle">accessories</span>
        
                                <div class="new__prices">
                                    <span class="new__price"></span>
                                    <span class="new__discount"></span>
                                </div>

                                <button class="button new__button">
                                    <i class='bx bx-cart-alt new__icon'></i>
                                </button>
                            </div>
        
                            <div class="new__content swiper-slide">
                                <div class="new__tag">New</div>
                                <img src="{% static 'store/img/cone.png' %}" alt="" class="new__img">
                                <h3 class="new__title">Mehendi Cone</h3>
                                <span class="new__subtitle">Bridal</span>
        
                                <div class="new__prices">
                                    <span class="new__price"></span>
                                    <span class="new__discount"></span>
                                </div>

                                <button class="button new__button">
                                    <i class='bx bx-cart-alt new__icon'></i>
                                </button>
                            </div>
        
                            <div class="new__content swiper-slide">
                                <div class="new__tag">New</div>
                                <img src="{% static 'store/img/wallet.png' %}" alt="" class="new__img">
                                <h3 class="new__title">Wallet</h3>
                                <span class="new__subtitle">accessories</span>
        
                                <div class="new__prices">
                                    <span class="new__price"></span>
                                    <span class="new__discount"></span>
                                </div>

                                <button class="button new__button">
                                    <i class='bx bx-cart-alt new__icon'></i>
                                </button>
                            </div>
        
                            <div class="new__content swiper-slide">
                                <div class="new__tag">New</div>
                                <img src="{% static 'store/img/bag.png' %}" alt="" class="new__img">
                                <h3 class="new__title">Bags</h3>
                                <span class="new__subtitle">stationary</span>
        
                                <div class="new__prices">
                                    <span class="new__price"></span>
                                    <span class="new__discount"></span>
                                </div>

                                <button class="button new__button">
                                    <i class='bx bx-cart-alt new__icon'></i>
                                </button>
                            </div>
        
                            <div class="new__content swiper-slide">
                                <div class="new__tag">New</div>
                                <img src="{% static 'store/img/lipstick.png' %}" alt="" class="new__img">
                                <h3 class="new__title">Lip Stick</h3>
                                <span class="new__subtitle">Fashion</span>
        
                                <div class="new__prices">
                                    <span class="new__price"></span>
                                    <span class="new__discount"></span>
                                </div>

                                <button class="button new__button">
                                    <i class='bx bx-cart-alt new__icon'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <!--==================== FOOTER ====================-->
            <footer class="footer section">
                <div class="footer__container container grid">
                    <div class="footer__content">
                        <a href="#" class="footer__logo">
                            <img src="{% static 'store/img/logo.png' %}" alt="" class="footer__logo-img">
                            Chamunda Novelty
                        </a>

                        <p class="footer__description">Enjoy the best product <br> of your life.</p>
                        
                        <div class="footer__social">
                            <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                                <i class='bx bxl-facebook'></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                                <i class='bx bxl-instagram-alt' ></i>
                            </a>
                            <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                                <i class='bx bxl-twitter' ></i>
                            </a>
                        </div>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">Contact Us</h3>
                        
                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">+91 9725004941</a>
                            </li>
                            
                        </ul>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">Our Services</h3>
                        
                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">Gift wrapping</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Soothing environment</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">See all products</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">Our Address</h3>
                        
                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">Chamunda Novelty Palace</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Aambali Bazar, Main Bazar</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Bechraji</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <img src="{% static 'store/img/footer2.png' %}" alt="" class="footer__img-one">
                <img src="{% static 'store/img/footer1.png' %}" alt="" class="footer__img-two">
            </footer>

            <!--=============== SCROLL UP ===============-->
            <a href="#" class="scrollup" id="scroll-up">
                <i class='bx bx-up-arrow-alt scrollup__icon'></i>
            </a>
        
        <!--=============== SCROLL REVEAL ===============-->
        <script src="{% static 'store/js/scrollreveal.min.js' %}"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="{% static 'store/js/swiper-bundle.min.js' %}"></script>
        
        <!--=============== MAIN JS ===============-->
        <script src="{% static 'store/js/main.js' %}"></script>
    </body>
</html>